<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>
<div class="header"><strong> YouTube </strong></div>
<div class="topnav">
    <a th:href="@{/back}">Back</a>
    <a th:href="@{/create}">Create</a>
</div>
<div class="card">
    <div class="container">
        <div  class="description">
            <div>
                <a href="https://www.youtube.com/watch?v=R9lxXQcy-nM"><img th:src="@{/img/play_button.jpg}"
                                                                           alt="First Vedio" style="width:100%"></a>
            </div>
            <div>
                <h4><b>Spring boot-Hibernate-Jpa</b></h4>
                <p>Prateeti Jain</p>
                <span style="font-size:15px; color:grey">1.7k views . 15-3-2020</span>
            </div>
        </div>
        <div class="description">
            <div>
                <a href="https://www.youtube.com/watch?v=R9lxXQcy-nM"><img th:src="@{/img/play_button.jpg}"
                                                                           alt="First Vedio" style="width:100%"></a>
            </div>
            <div>
                <h4><b>Spring boot-Hibernate-Jpa</b></h4>
                <p>Prateeti Jain</p>
                <span style="font-size:15px; color:grey">1.7k views . 15-3-2020</span>

            </div>
        </div>
        <div class="description">
            <div>
                <a href="https://www.youtube.com/watch?v=R9lxXQcy-nM"><img th:src="@{/img/play_button.jpg}"
                                                                           alt="First Vedio" style="width:100%"></a>
                <div>
                    <div >
                        <h4><b>Spring boot-Hibernate-Jpa</b></h4>
                        <p>Prateeti Jain</p>
                        <span style="font-size:15px; color:grey">1.7k views . 15-3-2020</span>
                    </div>
                </div>
                <div class="description">
                    <div>
                        <a href="https://www.youtube.com/watch?v=R9lxXQcy-nM"><img th:src="@{/img/play_button.jpg}"
                                                                                   alt="First Vedio" style="width:100%"></a>
                        <div>
                            <div >
                                <h4><b>Spring boot-Hibernate-Jpa</b></h4>
                                <p>Prateeti Jain</p>
                                <span style="font-size:15px; color:grey">1.7k views . 15-3-2020</span>
                            </div>
                        </div>
            </div>
        </div>
        <div class="footer"></div>
    </div>
</div>
    </div>
</div>
</div>
<div class="footer"></div>
</body>
</html>